.header {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 12px 12px;
  position: relative;
  align-items: center;
}
.mobile-menu {
  display: none;
}
.web-menu {
  display: flex;
}

@media only screen and (max-width: 720px) {
  .mobile-menu {
    display: flex;
  }
  .web-menu {
    display: none;
  }
}
